.display_contacts {
    display: none;
}

.display_contacts_container {
    display: none;
}

#mainContainer {
    display: flex;
}

#background {
    height: 100vh;
    background-image: url("/src/LoginInterface/iconsUnited.png");
    background-clip: border-box;
    background-size: min(50vw, 300px);
    
}

@media only screen and (max-width: 600px) {

    #mainContainer {
        display: block;
        position: relative;
    }

    #hide_sidebar {
        position: absolute;
        visibility: collapse;
    }
    #show_sidebar {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    #hide_primaryCalendar {
        visibility: collapse;
    }

    .display_contacts {
        display: block;
        cursor: pointer;
        margin-bottom: 10px;
        height: 35px;
    }

    @keyframes slideDown {
        10% {
            -webkit-transform: translate(0, 9%);
            -moz-transform: translate(0, 9%);
            -ms-transform: translate(0, 9%);
            -o-transform: translate(0, 9%);
        } 
        20% {
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
        }
    }

    #triangle1 {
        position: absolute;
        top: 54px;
        left: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 00px 0 30px 30px;
        border-color: transparent transparent transparent #1266F1;
        animation: slideDown 5s ease-in-out infinite;
    }

    #triangle2 {
        position: absolute;
        top: 54px;
        left: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 30px 30px 0;
        border-color: transparent #1266F1 transparent transparent;
        animation: slideDown 5s ease-in-out infinite;
    }

    .display_contacts_container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: end;
        background-color: #1266F1;
        height: 60px;
        width: 50px;
        top: -10px;
        border-top: 0;
        border-radius: 5px;
        right: 2.5%;
        animation: slideDown 5s ease-in-out infinite;
    }

    #open_contacts {
        content: url("/src/components/MainInterface/contactsBlue.png");
    }

    #open_calendar {
        content: url("/src/components/MainInterface/calendarBlue.png");
    }
}
